.header {
    z-index: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
}
.d-flex {
    display: flex !important;
    margin: 0;
}
.list-style-none {
    list-style: none !important;
}
.HeaderNavlink {
    color: #fff;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
}
.HeaderNavlink:hover {
    color: rgba(255,255,255,0.75) !important;
    text-decoration: none;
}
.ml-4 {
    margin-left: 24px !important;
}
